*{
    background-image:linear-gradient(red,green,yellow,blue);
    background-repeat: no-repeat;
    background-position: center;
    background-size: fixed;
    height: 600px;
    width: 600px;
}